@charset "UTF-8";

@media (max-width: 450px) {
 		.conteudo > .imagem > img {
 			position: absolute;
    		left: 17.5%;
    		top: 115%;
    		height: 30vh;
    		width: 30vh;
		}

		body {
			position: relative;
		}

	.github {
		font-size: 0.5em;
		
	}
	}
/*
#011C40
#011126
#032859
#074973
#08678C
*/

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	background-image: linear-gradient(to left, #011C40, #011126);
}

h1, h2 {
	color: white;
	padding: 10px;
}

strong {
	color: #08678C;
}

.github {
	color: #08678C;
	border: 5px solid #08678C;
	padding: 5px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
}
nav {
	color: white;
	padding: 10px;
	
}

li {
	list-style-type: none;
	border: 1px solid white;
	display: inline-block;
	font-weight: bold;

}

li > a {
	color: white;
	text-decoration: none;
	padding: 10px;
}

.a {
	padding: 10px;
}

.conteudo {
	font-size: 2em;
}

main {
	position: absolute;
    top: 30%;
}

div.imagem > img {
    width: 50vh;
    height: 50vh;
    position: absolute;
    left: 130%;
    top: -20%;
    border-radius: 100%;
}